# Jupyter
.ipynb_checkpoints/

# Virtuelle Umgebungen
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Betriebssystem
.DS_Store
Thumbs.db

# Python-Cache (z.B. durch %%prun oder Kernel-Metadaten)
__pycache__/
*.py[cod]
